
.content-explore{
    width: 100%;
    min-height: 100dvh;
    padding: 20px;
    color: white;
    position: relative;
}

form{
    display: flex;
    width: 100%;
    margin: 20px 0;
    justify-content: center;
}

input{
    width: 80%;
    height: 40px;
    padding: 20px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    
}

article{
    margin-top: 20px;
}

