footer{
    background-color: #7f2b70;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.contact{
    display: flex;
    flex-direction: column;
    background-color: black;
    opacity: 0.8;
    color: white;
    width: 40%;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    
    border-radius: 20px;
}

.contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form input{
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

.contact form textarea{
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 5px;
    resize: none;
}

.contact form button{
    background-color: #7f2b70;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.contact form button:hover{
    transition: .6s;
    cursor: pointer;
    background-color: #9d4edd;
}

@media screen and (max-width: 800px){
    .contact{
        width: 100%;
    }

    .contact form{
        width: 100%;
        margin-left: 0;
    }   

}