header{
    padding: 20px 10px;
    background-color:#7f2b70;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div,nav{
    width: 33%;
}

header h1{
    text-align: center;
    font-size: 30px;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;

}

nav ul li a:hover{
    transition: .6s;
    color: #ac00ca;
}

.login{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.login a{
    text-decoration: none;
    color: white;
    background-color: #ac00ca;
    padding: 10px 20px;
    border-radius: 10px;
    width: 120px;
    text-align: center;
}

.login a:hover{
    transition: .6s;
    scale: 1.1;
}

