header{
    padding: 20px 10px;
    background-color: #f2f2f2;
    color: #ac00ca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    
    width: 100%;
    top: 0;
    left: 0;
    
}

header div,nav{
    width: 33%;
}

header h1{
    text-align: center;
    font-size: 30px;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #2f2f2f;

}

nav ul li a:hover{
    transition: .6s;
    color: #6e1a5b;
    font-size: 25px;
}

.register{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.register a{
    text-decoration: none;
    color: white;
    background-color: #ac00ca;
    padding: 10px 20px;
    border-radius: 10px;
    width: 120px;
    text-align: center;
}

.register a:hover{
    transition: .6s;
    scale: 1.1;
}

