.content-pessoal {
    width: 100%;
    min-height: 100dvh;
    background-color: #f2f2f2;
    padding: 20px;
    color: #2f2f2f;
}

.content-pessoal h1 {
    font-size: 30px;
}

.content-pessoal>p {
    font-size: 20px;
    text-align: justify;
    margin-top: 20px;
}

.content-pessoal__postsButton>span {
    position: absolute;
    top: 0;
    right: 40px;
    font-size: 20px;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 10px 0px #ccc;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    transition: .5s;
    cursor: pointer;
}

.content-pessoal__postsButton>span:hover {
    background-color: #7a1ccb;
    color: white;
    transition: .5s;

    svg {
        color: white;
        transition: .5s;
    }

}

.content-pessoal__addNewPost {
    display: none;
    width: 80%;
    height: 80%;
    background-color: rgb(84, 50, 12);
    border-radius: 25px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 20px;

    justify-content: center;
}

.content-pessoal__addNewPost form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content-pessoal__left-page, .content-pessoal__right-page {
    width: 49%;
    margin: 2px;
    background-color: #f6f1cf;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 30px;
}

.content-pessoal__left-page input[type="file"] {
    display: none;
}

.content-pessoal__left-page label {
    width: 90%;
    height: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid #ccc;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: .5s;
}

.content-pessoal__left-page label:hover {
    border: 2px solid #2f2f2f;
    transition: .5s;
}

.content-pessoal input {
    width: 90%;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.content-pessoal input:focus {
    outline: none;
}

.content-pessoal input:hover {
    border: 2px solid #2f2f2f;
    transition: .5s;
}

.content-pessoal textarea {
    width: 90%;
    min-height: 200px;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.content-pessoal textarea:focus {
    outline: none;
}

.content-pessoal textarea:hover {
    border: 2px solid #2f2f2f;
    transition: .5s;
}

.content-pessoal__right-page input[type="submit"] {
    border: none;
    background-color: #2f2f2f;
    color: white;
    padding: 10px 0;
    width: 50%;
    cursor: pointer;
}

.content-pessoal__right-page input[type="submit"]:hover {
    background-color: #464646;
    transition: .5s;
}


.black {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    display: none;
}

.close {
    margin: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 25px;
}

.close:hover {
    color: red;
    transition: .5s;
}