.content-pessoal {
    width: 100%;
    min-height: 100dvh;
    padding: 20px;
    color: white;
    position: relative;
}

.content-pessoal h1 {
    font-size: 30px;
}

.content-pessoal>p {
    font-size: 20px;
    text-align: justify;
    margin-top: 20px;
}

.content-pessoal__postsButton>span {
    position: absolute;
    top: 0;
    right: 40px;
    font-size: 20px;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 10px 0px #ccc;
    background-color: white;
    color: #7a1ccb;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    transition: .5s;
    cursor: pointer;
}

.content-pessoal__postsButton>span:hover {
    background-color: #7a1ccb;
    color: white;
    transition: .5s;

    svg {
        color: white;
        transition: .5s;
    }

}

.content-pessoal__addNewPost {
    display: none;
    width: 80%;
    height: 80%;
    background-color: rgb(65, 51, 51);
    border-radius: 25px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 20px;

    justify-content: center;
}

.content-pessoal__addNewPost form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 94%;
}

.content-pessoal__left-page, .content-pessoal__right-page {
    width: 49%;
    margin: 2px;
    background-color: #f6f1cf;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 30px;
}

.content-pessoal__left-page #image {
    width: 90%;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: .5s;
}


.content-pessoal input {
    width: 90%;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.content-pessoal input:focus {
    outline: none;
}

.content-pessoal input:hover, #image:hover {
    border: 2px solid #2f2f2f;
    transition: .5s;
}

.content-pessoal textarea {
    width: 90%;
    height: 80%;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.content-pessoal textarea:focus {
    outline: none;
}

.content-pessoal textarea:hover {
    border: 2px solid #2f2f2f;
    transition: .5s;
}

.content-pessoal__right-page input[type="submit"] {
    border: none;
    background-color: #2f2f2f;
    color: white;
    padding: 10px 0;
    width: 50%;
    cursor: pointer;
}

.content-pessoal__right-page input[type="submit"]:hover {
    background-color: #464646;
    transition: .5s;
}

.content-pessoal__view-posts {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    color: #2f2f2f;
}

.content-pessoal__post{
    width: 350px;
    height: 100%;
    margin:5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #2f2f2f;
    border: 2px solid #ccc;
    background-color: white;
    border-radius: 10px;
}

.content-pessoal__post img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.content-pessoal__post > div{
    height: 100%;
    padding: 20px 10px;
}

.content-pessoal__post:hover{
    border: 2px solid #2f2f2f;
    scale: 1.1;
    z-index: 1000;
    transition: .5s;
}

.content-pessoal__post h3{
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.content-pessoal__post p{
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.content-pessoal__post button{
    border: none;
    background-color: #2f2f2f;
    color: white;
    padding: 10px 0;
    width: 80%;
    border-radius: 10px;
    cursor: pointer;
}

.content-pessoal__post button:hover{
    background-color: #464646;
    transition: .5s;
}

.postsInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%;
    z-index: 10;
}

.readMore{
    width: 100%;
    min-height: 100%;

    position: absolute;
    top: 0;
    left: -20%;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #2f2f2f;
   
   
    background-color: white;
    border-radius: 10px;
    display: none;
    z-index: 20;

}

.readMore img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.readMore > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 0 10px 0;
    align-items: center;
    justify-content: center;
}

.readMore > div span{
    display: block;
    margin: 0;
    padding: 0;
    font-size: 15px;
    text-align: center;
    
}

.readMore > div h3{
    font-size: 30px;
    text-align: center;
    color: #7a1ccb;
    padding-top: 10px;
}



.readMore p{
    font-size: 20px;
    padding: 20px 10px;
    text-align: justify;
}

.readMore .temperature{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #7a1ccb;
    color: white;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}



.black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 9;
    display: none;
}

.close {
    margin: 20px;
    font-weight: bold;
    color: #2f2f2f;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 25px;
}

.close:hover {
    color: red;
    transition: .5s;
}

.del{
    position: relative !important;
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 15px !important;
    text-align: center !important;
    color: #2f2f2f !important;
}

.del:hover{
    color: red !important;
    transition: .5s;
}


article{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1000px){
    .content-pessoal__addNewPost{
        width: 98%;
        top: 40%;
    }

    .content-pessoal__addNewPost form{
        width: 100%;
        flex-direction: column;
    }

    .content-pessoal__addNewPost form textarea{
        width: 100%;    
    }

    .content-pessoal__addNewPost form button{
        width: 100%;
    }

    .content-pessoal__left-page, .content-pessoal__right-page{
        width: 100%;
        margin: 2px;
    }

    .content-pessoal__postsButton>span{
       position: relative;
       width: 100%;
       right: 0;
    }
}

@media screen and (max-width: 800px){
    .readMore{
        left: 0;
        width: 98%;
        margin-left: 1%;
        top: -11%;
        padding: 0;
    }

    .readMore > div{
        padding: 0 0 10px 0;
        margin-top: -60%;
    }

    .readMore > div span{
        font-size: 20px;
    }

    .readMore > div h3{
        padding: 0;
    }

    .readMore img{
        border-radius: 0;
    }

    .content-pessoal__post{
        width: 320px;
        margin-bottom: 20px;
    }
    
    .content-pessoal{
        flex-direction: row;
    }
   
    .content-pessoal__addNewPost{
        width: 98%;
        top: 25%;
    }

   
    
}

@media screen and (max-width: 500px){
    
    .content-pessoal__post{
        width: 100%;
        margin: 20px 0;
    }
}
